
h1
{
    color: black;
}

body
{
    background-color: white
}


.btn-primary 
{
    background-color: teal;
    border-color: teal;
    color: white;
}

.btn-outline-primary
{
    background-color: white;
    border-color: teal;
    color: teal;
}

.readmoreknop
{
    color: teal;
}

.projectknop
{
    color: teal;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 /* Container holding the image and the text */
.container {
    position: relative;
  }
  
  img.algin-left
  {
      float: left;
      margin-right: 40px;
      margin-bottom: 20px;
  }

  img.medium
{
    width: 550px;
    height: 375px;
}

a{
    color: black;
}
 
 