header
{
    background-color: teal;
}
h1
{
    color: black;
}

body
{
    background-color: white
}


.btn-primary 
{
    background-color: teal;
    border-color: teal;
    color: white;
}

.btn-outline-primary
{
    background-color: white;
    border-color: teal;
    color: teal;
}

.readmoreknop
{
    color: teal;
}